#globalBody 
{ 
       background: linear-gradient(to right,grey,white,white,white, grey);
}

#box
{
	display: flex;
	justify-content: center;
	align-items: center;		

}
#login{
	 display: flex;

    justify-content: center;

	border: 1px solid black;
}

#logoAnmeldung{
	display: flex;
	justify-content: center;
}
.Aligner {		
	width: 300px;
    height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.wrapperLogin{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.wrapperColumnLogin{

}

.btn-primary,.btn-primary:hover,  .btn-primary:active, .btn-primary:visited {
    background-color: #feae3d !important;
}